/* CSS Code for Facebook Login Page Clone */
body {
  background-color: /*#3b5998*/#d1d1d1;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#validator {
  color : rgb(255, 17, 0);
}

.login-container {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.login-container img {
  width: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.login-container form {
  width: 100%;
}

.login-container form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  background-color: #f7f7f7;
  font-size: 16px;
}

.login-container form button {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  background-color: #4267b2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-container a {
  color: #f7f7f7;
  font-size: 14px;
  text-decoration: none;
}

.forgot-pass {
    color: #1a356b !important;
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 90%;
    padding: 10px;
  }
  .login-container img {
    width: 100px;
  }
  .login-container form input {
    font-size: 14px;
  }
  .login-container form button {
    font-size: 14px;
  }
  .login-container a {
    font-size: 12px;
  }
}
